[Unit]
Description=telegramma service
Requires=network-online.target
After=network-online.target

[Service]
# Change WorkingDirectory with the directory where you have telegramma configs
WorkingDirectory=/home/seba/telegramma
ExecStart=/usr/bin/python3 -m telegramma
Type=simple
Restart=always
RestartSec=5
# Don't die if OOM killer kills a subprocess
OOMPolicy=continue
# If you want to execute it as non-root (recommended)
User=seba

[Install]
WantedBy=multi-user.target
